<header class="d-flex flex-wrap align-items-center py-3 mb-4 border-bottom justify-content-around bg-secondary">
  <a
    href="{% url 'WatchTracker Home' %}"
    class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none col-md-auto"
  >
    <span class="fs-2">Anime Watch Tracker Home</span>
  </a>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}" type="button" class="btn btn-danger btn-lg px-4 gap-3 text-white">Click to Logout!</a>
  {% else %}
  <a href="{% url 'login' %}" type="button" class="btn btn-success btn-lg px-4 gap-3 text-white">Click to Login!</a>
  {% endif %}
</header>
